.card {
    background-color: darkgrey;
    border-color: teal;
    border-width: thick;
}

.typeSpace {
    outline: solid;
    outline-color: teal;
}

.label,
.button {
    font-size: larger;
    font-weight: bolder;
}

.button {
    background-color: teal;
    color: lightgrey;
    border-color: teal;
    border-width: thick;
    border-radius: 30%;


}

.register {
    background-color: teal;
    padding: 5px;
    width: 75%;
    margin: auto;
    border-radius: 10;
}

.registerButton {
    background-color: lightgrey;
    color: teal;
    border-color: teal;
    border-width: thick;
    border-radius: 30%;
}